#fiest{
font-size: 12px;
font-weight: 900;
font-style: italic;

}
#second{
font-size: 15px;
font-weight: 400;
font-style: oblique;
}
#third{
font-size: 25px;
font-weight: 600;
font-style: normal;
}
#fourth{
font-size: 35px;
font-weight: 700;

}